Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Jack'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Sydney'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

print(df)

    Name  Age      City  Salary
0   John   25  New York   50000
1   Anna   30     Paris   60000
2  Peter   35    London   70000
3  Linda   40     Tokyo   80000
4   Jack   45    Sydney   90000

In [2]:
#1. head(): Display the first n rows of the DataFrame. By default, it shows the first 5 rows.
print(df.head())

    Name  Age      City  Salary
0   John   25  New York   50000
1   Anna   30     Paris   60000
2  Peter   35    London   70000
3  Linda   40     Tokyo   80000
4   Jack   45    Sydney   90000

In [3]:
#2. info(): Provides a concise summary of the DataFrame including the data types, non-null values, and memory usage.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes
None

In [7]:
#3. describe(): Generates descriptive statistics that summarize the central tendency, dispersion, and shape of the numerical columns.
print(df.describe())

             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

In [5]:
#4. mean(): Calculates the mean of numerical columns.
print(df.mean())

Age          35.0
Salary    70000.0
dtype: float64

/tmp/ipykernel_77/1147436391.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

In [6]:
#5. sort_values(): Sorts the DataFrame by the values along either axis. You can specify the column(s) to sort by.
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

    Name  Age      City  Salary
4   Jack   45    Sydney   90000
3  Linda   40     Tokyo   80000
2  Peter   35    London   70000
1   Anna   30     Paris   60000
0   John   25  New York   50000

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
#A2.

# Creating a small DataFrame
data = {
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
}
df = pd.DataFrame(data)

# Function to re-index the DataFrame
def reindex_dataframe(df):
    # Resetting index to default integer index
    df.reset_index(drop=True, inplace=True)
    
    # Modifying the index to start from 1 and increment by 2
    new_index = pd.Index(range(1, len(df) * 2, 2))
    
    # Reassigning the new index to the DataFrame
    df.index = new_index
    
    return df

# Re-indexing the DataFrame
df = reindex_dataframe(df)

# Displaying the DataFrame
print(df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [9]:
# Creating a small DataFrame with a column named 'Values'
data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

# Python function to calculate the sum of the first three values in the 'Values' column
def sum_first_three_values(df):
    # Extracting the first three values from the 'Values' column
    first_three_values = df['Values'][:3]
    
    # Calculating the sum of the first three values
    sum_values = first_three_values.sum()
    
    # Printing the sum to the console
    print("Sum of the first three values:", sum_values)

# Calling the function with the DataFrame
sum_first_three_values(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [10]:
# Creating a Pandas DataFrame with a column 'Text'
data = {
    'Text': ['This is a sample text', 'Hello world', 'Python programming is fun']
}
df = pd.DataFrame(data)

# Python function to create a new column 'Word_Count'
def count_words(text):
    # Splitting the text into words and counting the number of words
    word_count = len(text.split())
    return word_count

# Applying the count_words function to each row of the 'Text' column
df['Word_Count'] = df['Text'].apply(lambda x: count_words(x))

# Displaying the DataFrame
print(df)

                        Text  Word_Count
0      This is a sample text           5
1                Hello world           2
2  Python programming is fun           4

Q5. How are DataFrame.size() and DataFrame.shape() different?
A5. DataFrame.size and DataFrame.shape are both attributes of Pandas DataFrame, but they serve different purposes:

- DataFrame.size:
  - DataFrame.size returns the total number of elements in the DataFrame, i.e., the product of the number of rows and the
    number of columns.
  - It calculates the size of the DataFrame as if it were a one-dimensional array, ignoring the structure (rows and columns)
    of the DataFrame.
  - The size includes all elements, regardless of their content (data or NaN values).
    
- DataFrame.shape:
  - DataFrame.shape returns a tuple representing the dimensions of the DataFrame, where the first element is the number of
    rows and the second element is the number of columns.
  - It gives you the structure of the DataFrame, providing information about how many rows and columns it contains.
  - This attribute is commonly used to understand the shape of the DataFrame and to perform operations accordingly.

In [11]:
# Creating a DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)

# Output the size and shape
print("DataFrame size:", df.size)
print("DataFrame shape:", df.shape)

DataFrame size: 9
DataFrame shape: (3, 3)

Q6. Which function of pandas do we use to read an excel file?
A6. We use the pd.read_excel() function to read an excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [13]:
# Creating a Pandas DataFrame with a column 'Email'
data = {
    'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']
}
df = pd.DataFrame(data)

# Python function to extract the username from each email address
def extract_username(email):
    # Splitting the email address at the '@' symbol and taking the first part
    username = email.split('@')[0]
    return username

# Applying the extract_username function to each row of the 'Email' column
df['Username'] = df['Email'].apply(lambda x: extract_username(x))

# Displaying the DataFrame
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: 
  A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [14]:
data = {
    'A': [3,8,6,2,9],
    'B': [5,2,9,3,1],
    'C': [1,7,4,5,2]
}
df = pd.DataFrame(data)

df1 = df[ (df['A']>5) & (df['B']<10) ]

print(df1)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [15]:
data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

print("Mean:",df.mean())
print("Median:",df.median())
print("Standard Deviation:",df.std())

Mean: Values    30.0
dtype: float64
Median: Values    30.0
dtype: float64
Standard Deviation: Values    15.811388
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [16]:
# Creating a Pandas DataFrame with columns 'Sales' and 'Date'
data = {
    'Sales': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550],
    'Date': pd.date_range(start='2024-01-01', periods=10)
}
df = pd.DataFrame(data)

# Python function to calculate the moving average of sales for the past 7 days
def calculate_moving_average(df):
    # Calculating the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Applying the calculate_moving_average function to the DataFrame
df = calculate_moving_average(df)

# Displaying the DataFrame
print(df)

   Sales       Date  MovingAverage
0    100 2024-01-01          100.0
1    150 2024-01-02          125.0
2    200 2024-01-03          150.0
3    250 2024-01-04          175.0
4    300 2024-01-05          200.0
5    350 2024-01-06          225.0
6    400 2024-01-07          250.0
7    450 2024-01-08          300.0
8    500 2024-01-09          350.0
9    550 2024-01-10          400.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [18]:
data = {
    'Date' : ['2023-01-01' ,
              '2023-01-02',
              '2023-01-03',
              '2023-01-04',
              '2023-01-05'
             ]
}

df = pd.DataFrame(data)

df['Weekday'] = ['Sunday','Monday','Tuesday','Wednesday','Thursday']

print(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [19]:
# Creating a Pandas DataFrame with a column 'Date' containing timestamps
data = {
    'Date': pd.date_range(start='2023-01-01', end='2023-02-28', freq='D')
}
df = pd.DataFrame(data)

# Python function to select rows where the date is between '2023-01-01' and '2023-01-31'
def select_rows_by_date(df):
    # Converting 'Date' column to datetime dtype if not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Selecting rows where the date is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return selected_rows

# Applying the select_rows_by_date function to the DataFrame
selected_df = select_rows_by_date(df)

# Displaying the selected rows
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
A13. The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself.